{% extends 'student/base.html' %}
{% load crispy_forms_tags%}
{% block content %}
<div class="container border p-3" > 
    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-4 right">
                {{ form.stream_name|as_crispy_field }}
            </div>
        </div>
        <br>
        <button class="btn btn-info" type="submit">Create Stream</button>
        <button class="btn btn-secondary" type="reset">Cancel</button>
        <a href="{% url 'stream-home' %}"><button class="btn btn-secondary" type="button">Back</button></a>
    </form>
{% endblock content %}
